body {
    height: 100%;
}

.hr10 {
    height: 10px;
    visibility: hidden
}

.hr100 {
    height: 100px;
    visibility: hidden
}

.hr15 {
    height: 15px;
    visibility: hidden
}

.hr30 {
    height: 30px;
    visibility: hidden
}

.hr60 {
    height: 60px;
    visibility: hidden
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    box-shadow: none;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;

}

/* navbar */

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

a:hover {
    cursor: pointer;
}

/* searchPanel */

.search-list .btn:focus {
    outline: 0
}

.search-list .list-group-item:focus {
    outline: 0
}

/* signin */

.form-control-signin-css {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#signinUser {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#signinPass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


  

